.form_wrapper {
  padding: 20px;
  display: grid;
  place-content: center;
}
.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    &:focus {
      border-color: rgba(128, 128, 128, 0.9);
    }
  }
  label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  span {
    text-transform: capitalize;
  }
  button {
    align-self: start;
    padding: 5px 10px;
  }
  .error {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgb(194, 9, 9);
  }
}
